@charset "UTF-8";

"{
    font-family:Arial, Helvetica, sans-serif;
}

body{
   background-image: linear-gradient(to botton, #d5d7f2,#9092af );  
}
 
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9698b5ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#1B21A6 ;
    text-align: center;
    text-shadow: 1px 1px 2px #1a208fd2;
}

h2{
    color:#3E38F2 ;
}

p{
    text-align: justify;
}